* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(to right, #0a0f18, #2a5298);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background: linear-gradient(to right, #0a0f18, #2a5298);
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 700;
   
}

.navbar {
  background: linear-gradient(to right, #0a0f18, #2a5298);
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.navbar input, .navbar button, .navbar select {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.navbar input {
  flex: 1;
  min-width: 200px;
}
 

.navbar button {
  background: #a4dba6;
  color: #100b0b;
  cursor: pointer;
  transition: background 0.3s;
}

.navbar button:hover {
  background: #58afc7;
   
}

.navbar select {
  display: none; 
}

.container {
  max-width: 800px;
  width: 90%;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.weather-data {
  text-align: center;
}

.current-weather h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.current-weather .details h3 {
  margin: 10px 0;
  font-size: 1.2rem;
}

.days-forecast {
  margin-top: 20px;
}

.days-forecast h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.weather-cards {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.weather-cards .card {
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  min-width: 150px;
  text-align: center;
  transition: background 0.3s;
}

.weather-cards .card:hover {
  background: rgba(0, 0, 0, 0.5);
}

.weather-cards .card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.weather-cards .card img {
  max-width: 70px;
  margin: 10px 0;
}

.weather-cards .card h4 {
  font-size: 1.4rem;
  margin: 5px 0;
}
